
  <button type="button" class="btn btn-secondary btn-lg btn-success float-right" (click)="openModal()" > 
        + Add New Food
    </button>
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: display }"
    >
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="titlealign">Food Details</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="closeModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" [formGroup]="AddNewFood">
              <div class="row">
                <select
                  formControlName="category"
                  id=" " 
                  class="form-select form-select-lg mb-3 border border-black" multiple aria-label="multiple select example"
                >
                  <option value="" selected>Category</option>
                  <option *ngFor="let item of category" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
              <br />
              <div class="row">
                <input
                  type="text"
                  formControlName="food"
                  class="form-control form-control-lg border border-black"
                  placeholder="Food"
                />
              </div>
              <br>

              <div class="row">
                <input
                  type="number"
                  formControlName="quantity"
                  class="form-control form-control-lg border border-black"
                  placeholder="FoodQuantity"
                />
              </div>
              <br>

              <div class="row">
                <input
                  type="text"
                  formControlName="foodunit"
                  class="form-control form-control-lg border border-black"
                  placeholder="Food Quantity Unit"
                />
              </div>

              <br>

              <div class="row">
                <input
                  type="text"
                  formControlName="sidedish"
                  class="form-control form-control-lg border border-black"
                  placeholder="Combo"
                />
              </div>

              <br>

              <div class="row">
                <input
                  type="number"
                  formControlName="sidedishquantity"
                  class="form-control form-control-lg border border-black"
                  placeholder="Combo Quantity"
                />
              </div>
              <br>

              <div class="row">
                <input
                  type="text"
                  formControlName="sidedishunit"
                  class="form-control form-control-lg border border-black"
                  placeholder="Combo Quantity Unit"
                />
              </div>
              <br>

              <div class="row">
                <input
                  type="number"
                  formControlName="calorie"
                  class="form-control form-control-lg border border-black"
                  placeholder="Calorie"
                />
              </div>
              <br>

              <div class="row">
                <input
                  type="text"
                  formControlName="img"
                  class="form-control form-control-lg border border-black"
                  placeholder="Food Image Url" 
                />
              </div>
              <br>
        <Button (click)="AddDataInServer()">Submit</Button>
         </form>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              (click)="closeModal()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div> 