#titlealign {
  padding-right: 580px;
}

.categoryAlign{
  font-size:x-large;
}
button{
  background-color: grey;
  font-size: larger;
}
button:hover{
  background-color: rgb(107, 102, 102);
  border: 2px solid grey;
}