<div class="background">
  <div id="Addnew">
    <h2 id="newline">Food Details</h2>
    <button
      type="button"
      class="btn btn-secondary btn-lg"
      (click)="displayAddItemModel()"
    >
      + Add New Food
    </button>

    <table id="tablealign">
      <thead>
        <tr>
          <th>Food</th>
          <th>FoodItem</th>
          <th>Category</th>
          <th>Food Quantity</th>
          <th>Combo</th>
          <th>Combo Quantity</th>
          <th>Food Calorie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fooditem of foodDetails">
          <td>{{ fooditem.food }}</td>
          <td>
            <img [src]="fooditem.img" id="foodimage" [alt]="fooditem.food" />
          </td>
          <td>{{ fooditem.category }}</td>
          <td>{{ fooditem.quantity }}{{ fooditem.foodunit }}</td>
          <td>{{ fooditem.sidedish }}</td>
          <td>{{ fooditem.sidedishquantity }}{{ fooditem.sidedishunit }}</td>
          <td>{{ fooditem.calorie }}</td>
          <td>
            <button class="paddingicon" (click)="displayEditModel(fooditem.id)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="paddingicon" (click)="deleteFoodData(fooditem.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
