.background {
  background-image: url("/assets/bowl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#newline {
  font-size: x-large;
  color: white;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 50px;
  padding-left: 800px;
  padding-right: 500px;
  display: inline-block;
}

table,
th,
td {
  table-layout: fixed;
  border: 2px solid #000000;
  margin-top: 100px;
  margin-right: 350px;
  margin-left: 350px;
  padding: 2px 2px;
  text-align: center;
}

td {
  color: white;
  font-weight: bolder;
  font-size: x-large;
}
th {
  color: white;
  font-weight: bolder;
  font-size: x-large;
}

#foodimage {
  width: 300px;
  height: 300px;
  padding: 5px 10px;
}

#Addnew {
  backdrop-filter: brightness(50%);
}

.paddingicon {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: white;
  border: 1px solid white;
}

button:active {
  background-color: transparent;
  border: 3px solid white;
  font-size: larger;
}

button {
  background-color: transparent;
  font-size: large;
  border: 2px solid white;
}
button:hover {
  background-color: transparent;
  border: 2px solid white;
}
