<div class="background">
  <label for="" class="head">Today's Meal Plan</label>

  <div id="divcontainer" class="container row" *ngIf="foodData">
    <div *ngFor="let category of foodCategory" class="col-sm w-30" id="para">
      <h3>{{ category.label }}</h3>
      <img
        [src]="foodData[category.name].foodData.img"
        [alt]="foodData[category.name].foodData.food"
      />
      {{ foodData[category.name].foodData.food }} -
      {{ foodData[category.name].itemquantity }}
      {{ foodData[category.name].foodData.foodunit }}
      <p
        *ngIf="
          foodData[category.name].foodData.foodunit === 'g';
          else elseblock
        "
      >
        1 cup (approx 240g)
      </p>
      <ng-template #elseblock><br /></ng-template>
      {{ foodData[category.name].foodData.sidedish }} -
      {{ foodData[category.name].sidedishquantity }}
      {{ foodData[category.name].foodData.sidedishunit }}
    </div>
  </div>
</div>
