<div class="background">
  <div id="container">
    <div class="flex">
      <h3 id="head1">A HEALTHY</h3>
      <div class="line"></div>
      <h1 id="head2">OUTSIDE</h1>
      <br />
      <h1 id="head3">STARTS</h1>
      <h2 id="head4">FROM THE</h2>
      <br />
      <div class="line"></div>
      <h1 id="head5">INSIDE</h1>
      <div class="line"></div>
    </div>
    <div>
      <p id="content">
        A healthy lifestyle is important for everyone. When we look after our
        physical health, we feel better too – fitter, more relaxed and better
        able to cope with things. This is especially important when you have a
        mental illness.This means eating a balanced diet, getting regular
        exercise, avoiding tobacco and drugs and getting plenty of rest. Our
        bodies are like machines that require a balance of protein,
        carbohydrates, fat, vitamins, minerals and water to stay in good working
        order.
      </p>

  <div id="quote">It's not about perfect. It's about
  <span class="highlight">effort</span>
    . <br />
    And when you bring that effort every single day, <br />that's where
    <span class="highlight">transformation happens.</span> </div>




  </div>
</div>
