input,
select,
input:focus,select:focus {
  background-color: transparent;
  color: white;
  margin: 15px 5px;
font-size: x-large;
}
input::placeholder {
  color: white;
}

form {
  display: inline-block;
  border-radius: 6px;
  background-color: transparent;
  backdrop-filter: brightness(60%);
  margin-top: 40px;
}
#newline {
  font-size: x-large;
  display: block;
  color: white;
  height: 70px;
  border-radius: 4px;
  padding-top: 15px;
  border: 2px solid white;
}

#flex-button {
  display: flex;
  justify-content: flex-end;
}

button{
  background-color: grey;
  font-size: large;
  padding: 10px 10px;
  color:white;
  border-radius: 6px;
  margin: 5px 5px;
}

button:hover{
  background-color: rgb(107, 102, 102);
  border: 2px solid grey;
}

.background {
  background-image: url("/assets/bowl.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  background-attachment: fixed;
  text-align: center;
}

#range {
  padding: 0px 100px;
  background-color: transparent;
}

#rangevalue {
  color: white;
  font-size: larger;
}

#label {
  color: white;
  font-size: large;
  padding-left: 10px;
}

div,p {
  font-size: large;
  color:red;
  text-align: left;
}
p {
  text-align: center;
}

